<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    
<th:block th:fragment="graph(data)" th:with="graphId=${#strings.randomAlphanumeric(10)}, showYAxis=${showYAxis?:true}">
    <canvas class="is-tally-graph-new" th:id="${graphId}"></canvas>
    <script th:inline="javascript">
    
    
    document.addEventListener('turbolinks:load', () => {
    	var ctx = document.getElementById([[${graphId}]]).getContext("2d");
    	
        new Chart(ctx, {
            type: 'line',
            data: [[${data}]],
            options: {
            	responsive: false,
            	animation: false,
                legend: {
                    display: false
                },
                tooltips: {
                    enabled: false
                },
                scales: {
                    xAxes: [{
                        type: "linear",
                        scaleLabel: {
                            display: false
                        },
                        gridLines: {
                            display: false,
                            drawTicks: false
                        },
                        ticks: {
                            display: false
                        }
                    }],
                    yAxes: [{
                        type: "linear",
                        stacked: true,
                        display: [[${showYAxis}]],
                        scaleLabel: {
                            display: false
                        },
                        gridLines: {
                            display: false
                        },
                        ticks: {
                            display: true,
                            precision: 0,
                            stepSize: 1
                        }
                    }]
                }
            }
        });
    });
    </script>
</th:block>

</html>