@charset "utf-8";

@import '../../../node_modules/bulma/bulma';
@import '../../../node_modules/bulma-timeline/src/sass/index';
@import '../../../node_modules/bulma-tagsinput/src/sass/index.sass';

.is-size-0 {
    font-size: 10rem;
}

.truncate-text {
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}