@charset "utf-8";

@import '../../../node_modules/bulma/bulma';
@import '../../../node_modules/bulma-timeline/src/sass/index';
@import '../../../node_modules/bulma-tagsinput/src/sass/index.sass';
@import '../../../node_modules/bulma-tooltip/src/sass/index.sass';

.is-size-0 {
    font-size: 10rem;
}
.is-size-8 {
    font-size: 0.5rem;
}

.truncate-text {
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.timeline-item.timeline-month {
    border-bottom: 1px solid $grey-lighter;
    border-image: linear-gradient(90deg, $grey-lighter, #fff) 1;
}

.timeline-item:nth-of-type(2n).timeline-month {
    border-bottom: 1px solid $grey-lighter;
    border-image: linear-gradient(270deg, $grey-lighter, #fff) 1;
}
