<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Tally</title>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script defer src="https://code.jquery.com/jquery-3.4.0.slim.min.js"></script>

    <link rel="stylesheet" href="../../../../target/classes/static/css/main.css"/>
    <link rel="shortcut icon" type="image/x-icon" href="@{/favicon.ico}"/>
</head>
<body>

<div class="container">
    <nav th:replace="fragments/navigation :: navigation"></nav>
</div>

<section class="hero is-info is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Count My Pizza
            </h1>
            <h2 class="subtitle">
                Create and share public counters
            </h2>
            

        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="columns is-centered">

            <div class="column is-one-third">
                <h1 class="title">
                    Create your new tally sheet!
                </h1>
                <p class="subtitle">
                    Give your tally sheet a short descriptive name (like Pizza Counter 2018).
                </p>

                <form method="post" th:action="@{/_create}" >
                    <div class="field has-addons">
                        <div class="control is-expanded">
                            <input class="input" name="name" type="text" placeholder="Name your tally sheet" required="true" autofocus="true">
                        </div>
                        <div class="control">
                            <input type="submit" class="button is-info" value="New Tally"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="columns is-multiline" th:insert="frontpage/fragments :: tallyRows(${recentlyCreated}, ${user})">
        </div>
    </div>
</section>

    <footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>