<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Tally</title>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script defer src="https://code.jquery.com/jquery-3.4.0.slim.min.js"></script>

    <link rel="stylesheet" href="../../../../target/classes/static/css/main.css"/>
    <link rel="shortcut icon" type="image/x-icon" href="@{/favicon.ico}"/>
</head>
<body>

<div class="container">
    <nav th:replace="fragments/navigation :: navigation"></nav>
</div>

<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-one-third has-text-centered">
                <h1 class="title">
                    Count everything
                </h1>
                <p class="subtitle has-text-grey-light">
                    ... and share the results!
                </p>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-one-fifth">
                <div class="box is-radiusless">
                    <div class="content has-text-centered">Easily create personal counters</div>
                </div>
            </div>
            <div class="column is-one-fifth">
                <div class="box is-radiusless">
                    <div class="content has-text-centered">Share counters with your friends</div>
                </div>
            </div>
            <div class="column is-one-fifth">
                <div class="box is-radiusless">
                    <div class="content has-text-centered">Keep track of important metrics in your life</div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="columns is-centered">

            <div class="column is-one-third has-text-centered">
                <p class="subtitle">
                    Give your counter a short descriptive name (like Pizza Counter 2018).
                </p>

                <form method="post" th:action="@{/_create}" >
                    <div class="field has-addons">
                        <div class="control is-expanded">
                            <input class="input" name="name" type="text" placeholder="Name your counter" required="true" autofocus="true">
                        </div>
                        <div class="control">
                            <input type="submit" class="button is-info" value="Create Counter">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="columns is-multiline" th:insert="frontpage/fragments :: tallyRows(${recentlyCreated}, ${user})">
        </div>
    </div>
</section>

    <footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>