<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="editIncrement(increment)">
    <div class="field">
        <div class="control is-expanded">
            <input th:value="${increment.description}" class="input" name="description" type="text" placeholder="Description" title="Increment description (optional)" autofocus>
        </div>
    </div>

    <div class="field">
        <div class="control is-expanded">
            <input th:value="${increment.tagsValue}" list="tagnames" class="input" name="tags" type="tags" placeholder="Add some tags" title="Comma separated tags, leading and trailing spaces will be trimmed (optional)" autofocus>
            <datalist id="tagnames">
                <option th:each="tagName : ${tagNames}" th:value="${tagName}"></option>
            </datalist>
        </div>
    </div>
    
    <div class="field">
        <div class="control is-expanded">
            <input th:value="${increment.incrementDateUTC}" name="incrementDateUTC" required="true" autofocus="true"  class="input" type="date"  title="The increment date">
        </div>
    </div>
    
    <div class="field">
        <div class="control">
            <input type="submit" class="button is-info is-small" value="Create"/>
        </div>
    </div>
</th:block>

<th:block th:fragment="formContent(tagNames)">

    <div class="field">
        <div class="control is-expanded">
            <input class="input" name="description" type="text" placeholder="Description" title="Increment description (optional)" autofocus="true"  >
        </div>
    </div>

    <div class="field">
        <div class="control is-expanded">
            <input list="tagnames" class="input" name="tags" type="tags" placeholder="Add some tags" 
                    title="Comma separated tags, leading and trailing spaces will be trimmed (optional)" 
                    autofocus="true"  >
            <datalist id="tagnames">
                <option th:each="tagName : ${tagNames}" th:value="${tagName}"></option>
            </datalist>
        </div>
    </div>
    
    <div class="field">
        <div class="control is-expanded">
            <input-now name="incrementDateUTC" required="true" autofocus="true" title="The increment date"></input-now>
        </div>
    </div>
    
    <div class="field">
        <div class="control">
            <input type="submit" class="button is-info is-small" value="Create"/>
        </div>
    </div>

</th:block>
</html>