<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <div th:fragment="filter">
    
        <div class="field">
        <div class="control is-expanded">
            <input th:value="${increment.tagsValue}" list="tagnames" class="input" name="tags" type="tags" 
                placeholder="Filter by tags" title="Comma separated tags, leading and trailing spaces will be trimmed">
            <datalist id="tagnames">
                <option th:each="tagName : ${tagNames}" th:value="${tagName}"></option>
            </datalist>
        </div>
    </div>

    </div>

</html>