<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <div th:fragment="tagCloud(cloud)" class="tags">
        <th:block th:each="weightedTag : ${cloud.tags}">
        
            <a class="tag" 
                href="#" 
                th:if="${weightedTag.isSelected(cloud)}" 
                th:href="${weightedTag.getDeleteLink(cloud)}" 
                th:classappend="${weightedTag.cssSize}" 
                th:title="'Occurrences: ' + ${weightedTag.count}">
                <span th:text="${weightedTag.name}"></span>
                <button class="delete"></button>
            </a>
            
            <a class="tag" 
                href="#" 
                th:unless="${weightedTag.isSelected(cloud)}"
                th:href="${weightedTag.getSelectLink(cloud)}" 
                th:classappend="${weightedTag.cssSize}" 
                th:text="${weightedTag.name}"
                th:title="'Occurrences: ' + ${weightedTag.count}">
            </a>
        </th:block>
    </div>

</html>