<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head(socialCard=${socialCard})">
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Tally</title>
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
<script defer src="https://code.jquery.com/jquery-3.4.0.slim.min.js"></script>

<link rel="stylesheet" href="../../../../target/classes/static/css/main.css" />
<link rel="shortcut icon" type="image/x-icon" href="@{/favicon.ico}" />
</head>
<body>

    <section class="hero is-dark">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">Sign up for countmy.pizza</h1>
                <h2 class="subtitle">Signing up gives you a lot of advantages - for free</h2>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <form method="POST" th:action="@{/registration}">
                <div class="field">
                    <label class="label">Username</label>
                    <div class="control has-icons-left">
                        <input name="name" class="input" type="text" placeholder="Username" required>
                        <span class="icon is-small is-left">
                            <i class="fas fa-user"></i>
                        </span>
                    </div>
                    <p class="help">The username is only used to greet you in the application header</p>
                </div>
    
                <div class="field">
                    <label class="label">Email</label>
                    <div class="control has-icons-left">
                        <input name="email" class="input" type="email" placeholder="Email" required> 
                        <span class="icon is-small is-left">
                            <i class="fas fa-envelope"></i>
                        </span>
                    </div>
                    <p class="help">Your Email address uniquely identifies your CMP account and is used to confirm your registration</p>
                </div>
                
                <div class="field">
                    <label class="label">Password</label>
                    <div class="control">
                        <input name="password" class="input" type="password" placeholder="Password" autocomplete="new-password" required> 
                    </div>
                </div>
                <div class="field">
                    <label class="label">Repeat Password</label>
                    <div class="control">
                        <input name="passwordRepeat" class="input" type="password" placeholder="Repeat Password" autocomplete="new-password" required>
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <button class="button is-primary">Sign me up!</button>
                    </div>
                </div>
            </form>
        </div>
    </section>

    <footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
