<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Tally</title>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script defer src="https://code.jquery.com/jquery-3.4.0.slim.min.js"></script>

    <link rel="stylesheet" href="../../../../target/classes/static/css/main.css"/>
    <link rel="shortcut icon" type="image/x-icon" href="@{/favicon.ico}"/>
</head>
<body>

<div class="container">
    <nav th:replace="fragments/navigation :: navigation"></nav>
</div>

<div class="notification is-danger is-radiusless is-marginless" th:if="${tally.admin}">
    You are viewing your tally sheet using its admin link. If you want to share this sheet, use the read-only link. Everyone who knows the admin link
    will be able to update/delete this tally sheet!
</div>

<div class="notification is-warning is-radiusless is-marginless" th:if="${tally.assignableToCurrentUser}">
    The sheet you are viewing has not been assigned to a user. Do you want to assign it to <span th:text="${user.name}">user name</span>?
    <a class="button" th:href="@{/{adminKey}?action=assignToCurrentUser(adminKey=${tally.adminKey})}" th:text="'Assign to ' + ${user.name}">User Name</a>
</div>


<section class="hero">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-capitalized	" th:text="${tally.name}">
                Pizza Count 2018
            </h1>
            <h2 class="subtitle">
                Share: <a th:href="@{/{publicKey}(publicKey=${tally.publicKey})}" title="Read-Only Link to share with your friends" th:text="${tally.publicKey}" href="#">Share:
                    http://tally.io/123547</a>
            </h2>
        </div>
    </div>
</section>


<section class="section has-background-white-bis">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-4">
                <div class="card ">
                    <header class="card-header has-background-white-ter">
                        <p class="card-header-title has-text-centered">Total count</p>
                    </header>
                    <div class="card-content has-text-centered  ">
                        <canvas class="is-tally-graph" th:data-public-key="${tally.publicKey}"></canvas>
                        <p class="title is-size-2 " title="Total count" th:text="${increments.total}">1234</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="section" th:if="${tally.admin}">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-4">
                <form method="post" th:action="@{/{adminKey}(adminKey=${tally.adminKey})}">
                    <div class="field">
                        <div class="control is-expanded">
                            <input is="input-now" class="input" name="incrementDateUTC" type="date" title="The increment date" required="true" autofocus="true"  >
                        </div>
                    </div>
                    <div class="field">
                        <div class="control is-expanded">
                            <input class="input" name="description" type="text" placeholder="Description" title="Increment description (optional)" autofocus="true"  >
                        </div>

                    </div>
                    <div class="field has-addons">
                        <div class="control is-expanded">
                            <input class="input" name="tags" type="text" placeholder="Tags, comma separated" title="Comma separated tags, leading and trailing spaces will be trimmed (optional)" autofocus="true"  >
                        </div>
                        <div class="control">
                            <input type="submit" class="button is-info" value="Increment"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section class="section" th:if="${!increments.empty}">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-8">
                <table class="table is-fullwidth">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Description</th>
                        <th>Tags</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="increment : ${increments.entries}">
                        <td>
                            <a th:if="${tally.admin}" th:href="@{/{adminKey}/increment/{incrementId}?action=delete(adminKey=${tally.adminKey}, incrementId=${increment.id})}" class="delete" title="Delete this increment">Delete</a>
                            <time is="date-label" th:text="${increment.incrementDateUTC}">2019-09-09</time>
                        </td>
                        <td th:text="${increment.description}"></td>
                        <td>
                            <div class="tags">
                                <span class="tag" th:each="tag : ${increment.tags}" th:text="${tag}"></span>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<script th:inline="javascript">
/*<![CDATA[*/
    var GRAPH_DATA = [[${graph}]];
/*]]>*/
</script>
    <footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>