<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Tally</title>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script defer src="https://code.jquery.com/jquery-3.4.0.slim.min.js"></script>

    <link rel="stylesheet" href="../../../../target/classes/static/css/main.css"/>
    <link rel="shortcut icon" type="image/x-icon" href="@{/favicon.ico}"/>
</head>
<body>

<div class="container">
    <nav th:replace="fragments/navigation :: navigation"></nav>
</div>

<div class="notification is-danger is-radiusless is-marginless" th:if="${tally.admin}">
    You are viewing your tally sheet using its admin link. If you want to share this sheet, use the read-only link. Everyone who knows the admin link
    will be able to update/delete this tally sheet!
</div>

<div class="notification is-warning is-radiusless is-marginless" th:if="${tally.assignableToCurrentUser}">
    The sheet you are viewing has not been assigned to a user. Do you want to assign it to <span th:text="${user.name}">user name</span>?
    <a class="button" th:href="@{/{adminKey}?action=assignToCurrentUser(adminKey=${tally.adminKey})}" th:text="'Assign to ' + ${user.name}">User Name</a>
</div>


<section class="hero">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-capitalized	" th:text="${tally.name}">
                Pizza Count 2018
            </h1>
            <h2 class="subtitle">
                Share: <a th:href="@{/{publicKey}(publicKey=${tally.publicKey})}" title="Read-Only Link to share with your friends" th:text="${tally.publicKey}" href="#">Share:
                    http://tally.io/123547</a>
            </h2>
        </div>
    </div>
</section>


<section class="section has-background-white-bis">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-4">
                <div class="card ">
                    <header class="card-header has-background-white-ter">
                        <p class="card-header-title has-text-centered">Total count</p>
                    </header>
                    <div class="card-content has-text-centered  ">
                        <canvas class="is-tally-graph" th:data-public-key="${tally.publicKey}"></canvas>
                        <p class="title is-size-2 " title="Total count" th:text="${increments.total}">1234</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="section" th:if="${tally.admin}">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-4">
                <form method="post" th:action="@{/{adminKey}(adminKey=${tally.adminKey})}">
                    <div class="field">
                        <div class="control is-expanded">
                            <input is="input-now" class="input" name="incrementDateUTC" type="date" title="The increment date" required="true" autofocus="true"  >
                        </div>
                    </div>
                    <div class="field">
                        <div class="control is-expanded">
                            <input class="input" name="description" type="text" placeholder="Description" title="Increment description (optional)" autofocus="true"  >
                        </div>

                    </div>
                    <div class="field has-addons">
                        <div class="control is-expanded">
                            <input class="input" name="tags" type="text" placeholder="Tags, comma separated" title="Comma separated tags, leading and trailing spaces will be trimmed (optional)" autofocus="true"  >
                        </div>
                        <div class="control">
                            <input type="submit" class="button is-info" value="Increment"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


<section>
    <div th:replace="tallypage/fragments :: timeline(${timeline})"></div>

<div class="timeline is-centered" th:if="false">

    <header class="timeline-header">
        <span class="tag is-medium is-outlined">Today</span>
    </header>
  
    <div class="timeline-item">
        <div class="timeline-marker is-danger is-icon">
            <i class="fa fa-flag"></i>
        </div>
        <div class="timeline-content">
            <p class="heading">February 2019</p>
            <p>Total: 10</p>
        </div>
    </div>
  
    <!-- title and tags -->
    <div class="timeline-item">
        <div class="timeline-marker"></div>
        <div class="timeline-content">
            <p class="heading">28.02.2019</p>
            <p>Pizza</p>
            <div class="tags">
                <span class="tag">tag1</span><span class="tag">tag2</span><span class="tag">tag3</span>
            </div>
        </div>
    </div>
    
    <!-- no tags but title -->
    <div class="timeline-item">
        <div class="timeline-marker"></div>
        <div class="timeline-content">
            <p class="heading">25.02.2019</p>
            <p>Pizza</p>
        </div>
    </div>
    
    <!-- no title but tags -->
    <div class="timeline-item">
        <div class="timeline-marker"></div>
        <div class="timeline-content">
            <p class="heading">20.02.2019</p>
            <div class="tags">
                <span class="tag">tag1</span><span class="tag">tag2</span><span class="tag">tag3</span>
            </div>
        </div>
    </div>
    
    <!-- no title not tags -->
    <div class="timeline-item">
        <div class="timeline-marker"></div>
        <div class="timeline-content">
            <p class="heading">20.02.2019</p>
        </div>
    </div>
  
  <header class="timeline-header">
    <span class="tag is-primary">2017</span>
  </header>
  <div class="timeline-item is-danger">
    <div class="timeline-marker is-danger is-icon">
      <i class="fa fa-flag"></i>
    </div>
    <div class="timeline-content">
      <p class="heading">March 2017</p>
      <p>Timeline content - Can include any HTML element</p>
    </div>
  </div>
  <header class="timeline-header">
    <span class="tag is-medium is-primary">End</span>
  </header>
</div>

</section>
<script th:inline="javascript">
/*<![CDATA[*/
    var GRAPH_DATA = [[${graph}]];
/*]]>*/
</script>
    <footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>