<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Tally</title>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script defer src="https://code.jquery.com/jquery-3.4.0.slim.min.js"></script>

    <link rel="stylesheet" href="../../../../target/classes/static/css/main.css"/>
    <link rel="shortcut icon" type="image/x-icon" href="@{/favicon.ico}"/>
</head>
<body>

<div class="container">
    <nav th:replace="fragments/navigation :: navigation(${user})"></nav>
</div>

<div class="notification is-danger is-radiusless is-marginless" th:if="${tally.admin}">
    You are viewing your tally sheet using its admin link. If you want to share this sheet, use the read-only link. Everyone who knows the admin link
    will be able to update/delete this tally sheet!
</div>

<div class="notification is-warning is-radiusless is-marginless" th:if="${tally.assignableToCurrentUser}">
    The sheet you are viewing has not been assigned to a user. Do you want to assign it to <span th:text="${user.name}">user name</span>?
    <a class="button" th:href="@{/{adminKey}?action=assignToCurrentUser(adminKey=${tally.adminKey})}" th:text="'Assign to ' + ${user.name}">User Name</a>
</div>


<section class="hero">
    <div class="hero-body">
        <div class="container">
            <editable-title th:text="${tally.name}" th:attr="changeNameAction=@{/{adminKey}?action=changeName&newName=(adminKey=${tally.adminKey})}, allowEdit=${tally.admin}">
                Pizza Count 2018
            </editable-title>
            <h2 class="subtitle">
                Share: <a th:href="@{/{publicKey}(publicKey=${tally.publicKey})}" title="Read-Only Link to share with your friends" th:text="${tally.publicKey}" href="#">Share:
                    http://tally.io/123547</a>
            </h2>
        </div>
    </div>
</section>


<section class="section has-background-white-bis">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-4">
                <div class="card ">
                    <header class="card-header has-background-white-ter">
                        <p class="card-header-title has-text-centered">Total count</p>
                    </header>
                    <div class="card-content has-text-centered  ">
                        <canvas th:replace="fragments/graph :: graph(${graph})"></canvas>
                        <p class="title is-size-2 " title="Total count" th:text="${increments.total}">1234</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="section" th:if="${tally.admin}">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-4">
                <form method="post" th:action="@{/{adminKey}(adminKey=${tally.adminKey})}">
                    <div class="field">
                        <div class="control is-expanded">
                            <input-now name="incrementDateUTC" required="true" autofocus="true" title="The increment date"></input-now>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control is-expanded">
                            <input class="input" name="description" type="text" placeholder="Description" title="Increment description (optional)" autofocus="true"  >
                        </div>

                    </div>
                    <div class="field has-addons">
                        <div class="control is-expanded">
                            <input class="input" name="tags" type="tags" placeholder="Add some tags" title="Comma separated tags, leading and trailing spaces will be trimmed (optional)" autofocus="true"  >
                        </div>
                        <div class="control">
                            <input type="submit" class="button is-info" value="Increment"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


<section class="section">
    <div class="container" th:insert="tallypage/timeline:: timeline(${timeline})"></div>
</section>
    <footer th:replace="fragments/footer :: footer"></footer>
</body>

</html>