<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <div th:fragment="timeline(timeline)" class="timeline is-centered">
        <th:block th:each="year : ${timeline.years}" >
            <div th:replace="this :: timelineYear(${year})"></div>
        </th:block>
    </div>

    <th:block th:fragment="timelineYear(year)">
        <header class="timeline-header timeline-year">
            <h2 class="title" th:text="${year.name}">2019</h2>
        </header>
        
        <th:block th:each="month : ${year.months}" >
            <div th:replace="this :: timelineMonth(${month})"></div>
        </th:block>
    </th:block>

    <th:block th:fragment="timelineMonth(month)">
        <div class="timeline-item timeline-month">
            <div class="timeline-marker is-danger is-icon">
                <i class="fa fa-flag"></i>
            </div>
            <div class="timeline-content">
                <h4 class="title is-4"  th:text="${month.name}">February 2019</h4>
                <h6 class="subtitle is-6">Total: <span th:text="${month.totalCount}">10</span></h6>
            </div>
        </div>
        <th:block th:each="increment : ${month.increments}">
            <div th:replace="this:: timelineIncrement(${increment})"></div>
        </th:block>
    </th:block>

    <div th:fragment="timelineIncrement(increment)" class="timeline-item">
        <div class="timeline-marker" th:classappend="${tally.admin} ? 'is-icon' : ''">
            <a th:if="${tally.admin}" th:href="@{/{adminKey}/increment/{incrementId}?action=delete(adminKey=${tally.adminKey}, incrementId=${increment.id})}" class="delete" title="Delete this increment"></a>
        </div>
        <div class="timeline-content">
            <p th:text="${increment.getDescription()}">
                Pizza
            </p>
            <p class="heading">
                <date-label th:text="${increment.incrementDateUTC}">2019-09-09</date-label>
            </p>
            <div class="tags" th:if="${increment.hasTags()}">
                <span class="tag" th:each="tag : ${increment.tags}" th:text="${tag}"></span>
            </div>
        </div>
    </div>
    
</html>