<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <div th:fragment="timeline(timeline)" class="timeline" th:classappend="${!mobile} ? 'is-centered' : ''">
        <th:block th:each="year : ${timeline.years}" >
            <div th:replace="this :: timelineYear(${year})"></div>
        </th:block>
    </div>

    <th:block th:fragment="timelineYear(year)">
        <header class="timeline-header timeline-year">
            <div>
                <h4 class="title is-4" th:text="${year.name}">2019</h4>
                <h6 class="subtitle is-6">Total: <span th:text="${year.totalCount}">10</span></h6>
            </div>
        </header>
        
        <th:block th:each="month : ${year.months}" >
            <div th:replace="this :: timelineMonth(${month})"></div>
        </th:block>
    </th:block>

    <th:block th:fragment="timelineMonth(month)">
        <div class="timeline-item timeline-month">
            <div class="timeline-marker is-danger is-icon">
                <i class="fa fa-flag"></i>
            </div>
            <div class="timeline-content">
                <h4 class="title is-4" th:text="${month.name}">February 2019</h4>
                <h6 class="subtitle is-6">Total: <span th:text="${month.totalCount}">10</span></h6>
            </div>
        </div>
        <th:block th:each="day : ${month.days}">
            <div th:replace="this:: timelineDay(${day})"></div>
        </th:block>
    </th:block>
    
    <th:block th:fragment="timelineDay(day)">
        <div class="timeline-item">
            <div class="timeline-marker"></div>
            
            <div class="timeline-content">
                <p class="heading">
                    <date-label th:text="${day.date}">2019-09-09</date-label>
                </p>
                <h6 th:unless="${day.increments.size() == 1}" class="subtitle is-6">Total: <span th:text="${day.totalCount}">10</span></h6>
                
                <div th:each="increment : ${day.increments}" class="notification box is-primary has-background-white has-text-black">
                    <a th:if="${tally.admin}" 
                        th:href="@{/{adminKey}/increment/{incrementId}?action=delete(adminKey=${tally.adminKey}, incrementId=${increment.id})}" 
                        class="delete confirmable" 
                        title="Delete this increment..."></a>
                        
                    <edit-increment 
                        th:attr="incrementDateUTC=${increment.incrementDateUTC}, description=${increment.description}, tags=${increment.tagsValue}, allowEdit=${tally.admin}, updateUrl=@{/{adminKey}/increment/{incrementId}?action=updateIncrement(adminKey=${tally.adminKey}, incrementId=${increment.id})}">
                    
                        <th:block th:replace="this :: descriptionAndTags(${increment})"></th:block>                    
                    </edit-increment>
                </div>
            </div>
        </div>
    </th:block>
    
    <th:block th:fragment="descriptionAndTags(increment)">

    
        <em th:if="${increment.empty}" title="This increment has no tags and no description">No Description</em>
        <th:block th:unless="${increment.empty}">
            <span th:text="${increment.getDescription()}">
                Pizza
            </span>
            
            <div class="tags" th:if="${increment.hasTags()}">
                <span class="tag" th:each="tag : ${increment.tags}" th:text="${tag}"></span>
            </div>
        </th:block>
    </th:block>
</html>