<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>
<body>
    <div class="container">
        <nav th:replace="fragments/navigation :: navigation(${user})"></nav>
    </div>

    <section class="section ">
        <div class="container">
            <h1 class="title is-capitalized">Lunch Pizza</h1>
            <h2 class="subtitle">
                Invititation ID: <a title="Read-Only Link to share with your friends" href="#">8X6ShPtZ</a>
            </h2>
            
            <div class="field is-grouped is-grouped-multiline">
                <div class="control">
                    <div class="dropdown is-hoverable">
                        <div class="dropdown-trigger">
                            <div class="tags has-addons" aria-controls="dropdown-menu1" aria-haspopup="true">
                                <span class="tag is-dark is-medium">Status</span> 
                                <span class="tag is-medium is-success">
                                    <span>Open for participants</span>
                                    <span class="icon is-small"> 
                                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div class="dropdown-menu" id="dropdown-menu1" role="menu">
                            <div class="dropdown-content">
                                <a th:href="@{/order?status=openForJoining}" href="#" class="dropdown-item">Open for participants</a>
                                <a th:href="@{/order?status=openForModify}" href="#" class="dropdown-item">Waiting for orders</a>
                                <a th:href="@{/order?status=placed}" href="#" class="dropdown-item">Order placed</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="control">
                    <div class="tags has-addons">
                        <span class="tag is-dark is-medium">Payments</span>
                        <span class="tag is-medium is-warning">Nothing paid yet</span>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <th:block th:if="${status} eq 'openForJoining'">
    <section class="section has-background-white-bis">
        <div class="container">
            <nav class="level box">
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">Total order price</p>
                        <p class="title">37,00€</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">Discount</p>
                        <p class="title">3,00€</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">Discounted order price</p>
                        <p class="title">34,00€</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">Tip</p>
                        <p class="title">2,00€</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">Order price incl. Tip</p>
                        <p class="title">36,00€</p>
                    </div>
                </div>
            </nav>
        </div>
    </section>
    

    <section  class="section">
        <div class="container">
            <nav class="level">
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">Income Cash</p>
                        <p class="title">1,00€</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">Income Online</p>
                        <p class="title">35,00€</p>
                    </div>
                </div>
            </nav>
            
            <div class="content">
            You need 1€ additional <strong>cash</strong> to pay the tip in cash<br>
            You need 35€ cash to pay the whole order in cash
            </div>
        </div>
    </section>

    <!-- 
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Cash</th>
            <th>Paypal</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Robert</td>
            <td>10,00€</td>
            <td>-</td>
            <td>10,00€</td>
        </tr>
        <tr>
            <td>Simon</td>
            <td>2,00€</td>
            <td>25,00€</td>
            <td>12,00€</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th>Total</th>
            <th>12,00</th>
            <th>25,00</th>
            <th>37,00</th>
        </tr>
        
    </tfoot>
</table>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Amount</th>
            <th>Single</th>
            <th>Position</th>
            <th>Disc %</th>
            <th>Disc</th>
            <th>Disc Price</th>
            <th>Tip %</th>
            <th>Tip</th>
            <th>Tipped Price</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Simon</td>
            <td></td>
            <td></td>
            <td>25,00€</td>
            <td></td>
            <td>2,50€</td>
            <td>22,50€</td>
            <td>8,89%</td>
            <td>2,00€</td>
            <td>24,50€</td>
        </tr>
        <tr>
            <td style="padding-left:2rem">Pizza Tuna, Classic, 28cm</td>
            <td>1x</td>
            <td>15,00€</td>
            <td>15,00€</td>
            <td>-</td>
            <td>1,50€</td>
            <td>13,50€</td>
            <td>-</td>
            <td>-</td>
            <td>13,50€</td>
        </tr>
        <tr>
            <td style="padding-left:2rem">Pizzabrötchen</td>
            <td>2x</td>
            <td>5,00€</td>
            <td>10,00€</td>
            <td>-</td>
            <td>1,00€</td>
            <td>9,00€</td>
            <td>-</td>
            <td>-</td>
            <td>9,00€</td>
        </tr>
        <tr>
            <td>Robert</td>
            <td></td>
            <td></td>
            <td>10,00€</td>
            <td>-</td>
            <td>1,00€</td>
            <td>9,00€</td>
            <td>-</td>
            <td>-</td>
            <td>9,00€</td>
        </tr>
        <tr>
            <td style="padding-left:2rem">Pizza Salami, 28cm</td>
            <td>1x</td>
            <td>10,00€</td>
            <td>10,00€</td>
            <td>-</td>
            <td>1,00€</td>
            <td>9,00€</td>
            <td>-</td>
            <td>-</td>
            <td>9,00€</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th>Totals</th>
            <td></td>
            <td></td>
            <td>35,00€</td>
            <td>10,00%</td>
            <td>3,50</td>
            <td>31,50€</td>
            <td>6,35%</td>
            <td>2,00€</td>
            <td>33,50€</td>
        </tr>
    </tfoot>
</table>
-->

    <section class="section ">
        <div class="container">
            <div class="columns is-centered">

                <div class="column is-3">
                    <div class="box">
                        <article class="media">
                            <div class="media-content">
                                <div class="content">

                                    <div class="tags is-pulled-right">
                                        <span class="tag is-success">Ready to order</span>
                                        <span class="tag is-danger">Not paid yet</span>
                                    </div>
                                    
                                    <div class="dropdown is-hoverable">
                                        <div class="dropdown-trigger">
                                            <p aria-haspopup="true" aria-controls="dropdown-menu4">
                                                <strong>Robert</strong>
                                            </p>
                                        </div>
                                        <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                                            <div class="dropdown-content">
                                                <a href="#" class="dropdown-item">Participant's view</a>
                                                <a href="#" class="dropdown-item">Force set ready</a>
                                                <a href="#" class="dropdown-item">Register payment</a>
                                                <a href="#" class="dropdown-item">Expel</a>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <table class="table">
                                        <tr>
                                            <td>Pizza Salami, 28cm</td>
                                            <td>1x</td>
                                            <td>10,00€</td>
                                        </tr>
                                        <tr>
                                            <td><em>Tip</em></td>
                                            <td></td>
                                            <td><span class="tag is-danger">Paid no tip!</span></td>
                                        </tr>
                                        <thead>
                                            <tr>
                                                <th>Total</th>
                                                <th></th>
                                                <th>10,00€</th>
                                            </tr>
                                        </thead>
                                    </table>
                                    

                                    
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="column is-3">
                    <div class="box">
                        <article class="media">
                            <div class="media-content">
                                <div class="content">
                                  
                                    <div class="dropdown is-hoverable is-pulled-right">
                                        <div class="dropdown-trigger">
                                            <div class="tags  is-pulled-right">
                                                <span class="tag is-success">Paid!</span>
                                                <span class="tag is-success" aria-haspopup="true" aria-controls="dropdown-menu4">
                                                    <span>Ready to order</span>
                                                    <span class="icon is-small"> 
                                                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                                            <div class="dropdown-content">
                                                <a href="#" class="dropdown-item">Force set ready</a>
                                                <a href="#" class="dropdown-item">Register payment</a>
                                                <a href="#" class="dropdown-item">Expel</a>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <p>
                                        <strong>Simon</strong>
                                    </p>
                                    
                                    
                                    <table class="table">
                                        <tr>
                                            <td>Pizza Tuna, 28cm</td>
                                            <td>1x</td>
                                            <td>15,00€</td>
                                        </tr>
                                        <tr>
                                            <td>Pizzabrötchen</td>
                                            <td>2x</td>
                                            <td>10,00€</td>
                                        </tr>
                                        <tr>
                                            <td><em>Tip</em></td>
                                            <td></td>
                                            <td>2,00€</td>
                                        </tr>
                                        <thead>
                                            <tr>
                                                <th>Total</th>
                                                <th></th>
                                                <th>27,00€</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                                
                                
                            </div>
                        </article>
                    </div>
                </div>
                <div class="column is-3">
                    <div class="box">
                        <article class="media">
                            <div class="media-content">
                                <div class="content">
                                
                                    <div class="dropdown is-hoverable is-pulled-right">
                                        <div class="dropdown-trigger">
                                            <span class="tag is-warning is-pulled-right" aria-haspopup="true" aria-controls="dropdown-menu4">
                                                <span>Not Ready</span>
                                                <span class="icon is-small"> 
                                                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                                                </span>
                                            </span>
                                        </div>
                                        <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                                            <div class="dropdown-content">
                                                <a href="#" class="dropdown-item">Force set ready</a>
                                                <a href="#" class="dropdown-item">Register payment</a>
                                                <a href="#" class="dropdown-item">Expel</a>
                                            </div>
                                        </div>
                                    </div>
                                
                                    <p>
                                        <strong>Timo</strong>
                                    </p>
                                    
                                    <table class="table">
                                        <tr>
                                            <td>Pizza Hawaii, 28cm</td>
                                            <td>1x</td>
                                            <td>15,00€</td>
                                        </tr>
                                        <tr>
                                            <td>Pizzabrötchen</td>
                                            <td>3x</td>
                                            <td>15,00€</td>
                                        </tr>
                                        <tr>
                                            <td><em>Tip</em></td>
                                            <td></td>
                                            <td>2,00€</td>
                                        </tr>
                                        <thead>
                                            <tr>
                                                <th>Total</th>
                                                <th></th>
                                                <th>32,00€</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="column is-3">
                    <div class="box">
                        <article class="media">
                            <div class="media-content">
                                <div class="content">
                                
                                    <div class="dropdown is-hoverable is-pulled-right">
                                        <div class="dropdown-trigger">
                                            <span class="tag is-warning is-pulled-right" aria-haspopup="true" aria-controls="dropdown-menu4">
                                                <span>Just joined</span>
                                                <span class="icon is-small"> 
                                                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                                                </span>
                                            </span>
                                        </div>
                                        <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                                            <div class="dropdown-content">
                                                <a href="#" class="dropdown-item">Force set ready</a>
                                                <a href="#" class="dropdown-item">Register payment</a>
                                                <a href="#" class="dropdown-item">Expel</a>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <p>
                                        <strong>Christoph</strong>
                                    </p>
                                    
                                    <em>No items yet</em>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </th:block>

    <footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>