<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
    <meta charset="utf-8"/></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <meta name="apple-mobile-web-app-capable" content="yes"></meta>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"></meta>
    
    <title>Count My Pizza</title>
    
    <script th:src="@{/static/js/Slim.nomodule.js}"></script>
    <script th:src="@{/static/js/all.nomodule.js}"></script>
    <script th:src="@{/static/js/webcomponents-loader.js}"></script>
    <script defer th:src="@{/static/js/components.js}"></script>
    <script defer th:src="@{/static/js/fa.js}"></script>
    <script defer th:src="@{/static/js/Chart.bundle.js}"></script>

    <link rel="stylesheet" th:href="@{/static/css/main.css}"></link>
    
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon/site.webmanifest">
    <link rel="mask-icon" href="/static/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/static/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/static/favicon/browserconfig.xml">
    <meta name="msapplication-TileColor" content="#ffffff"></meta>
    <meta name="msapplication-TileImage" th:content="@{/static/favicon/ms-icon-144x144.png}"></meta>
    <meta name="theme-color" content="#ffffff"></meta>
</head>

</html>