<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="login(user)" class="buttons">
    <div class="field has-addons" th:if="!${user.isLoggedIn()}">
        <p class="control">
            <a class="button is-primary" 
                    th:href="@{/oauth2/authorization/google}">
                <span class="icon">
                    <i class="fab fa-google"></i>
                </span>
                <span>Login with Google</span>
                <span class="icon has-tooltip-bottom has-tooltip-multiline"
                    data-tooltip="countmy.pizza works perfectly fine without logging in! Logging in provides you a nice dashboard of the counters you created.">
                    <i class="fas fa-info-circle"></i>
                </span>
            </a>
        </p>
        <p class="control is-hidden-mobile">
            <span class="button is-static">to enjoy all features</span>
        </p> 
    </div>
</div>
 
<th:block th:fragment="logout(user)">
    <div class="buttons"  th:if="${user.isLoggedIn()}">
        <span class="button is-static" th:text="'Welcome ' + ${user.name}">
        </span>
    
        <form th:replace="this :: logoutForm"></form>
    </div>
</th:block>

<form th:fragment="logoutForm" class="is-inline"  th:action="@{/logout}">
    <input th:replace="this :: submitLogout"></input>
</form>

<input th:fragment="submitLogout" type="submit" class="button is-danger is-outlined" value="Logout"></input>

 </html>