<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<nav th:fragment="navigation" class="navbar" role="navigation" aria-label="main navigation">
	<div class="navbar-brand">
		<a class="navbar-item" th:href="@{/}">
		    <img th:src="@{/static/favicon/android-chrome-512x512.png}" ></img>
            
		</a>
	</div>
    
    <a class="navbar-item" th:href="@{/}">Count my Pizza</a>
    
	<div class="navbar-end">
		<div class="navbar-item">
			<div class="buttons" th:insert="fragments/login :: login">
				<a class="button is-light"> Log in with google</a>
			</div>
		</div>
	</div>
</nav>