<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>

<body>
    <section class="section">
        <div class="columns is-centered">
            <div class="column is-one-third">
                <h1 class="title is-radeshia">Daaamn...</h1>

                <div class="content">
                    <p class="is-size-3">
                        <i class="fas fa-question-circle"></i> We're sorry but this page doesn't exist. 
                </div>
                
                <div class="field is-grouped">
                    <p class="control">
                        <input type="button" class="button" value="Retry previous page" title="Go back to the previous page" onclick="history.back()"/>
                    </p>
                </div>
            </div>
        </div>
    </section>

</body>

</html>