@charset "utf-8";

// Customized from default:  1.25rem 2.5rem 1.25rem 1.5rem 
$notification-padding: 0.75rem 2.5rem 0.75rem 1.5rem;

@import '../../../node_modules/bulma/bulma';
@import '../../../node_modules/bulma-timeline/src/sass/index';
@import '../../../node_modules/bulma-tagsinput/src/sass/index.sass';
@import '../../../node_modules/bulma-tooltip/src/sass/index.sass';


.is-size-0 {
    font-size: 10rem;
}
.is-size-8 {
    font-size: 0.5rem;
}

.truncate-text {
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.timeline-item.timeline-month {
    border-bottom: 1px solid $grey-lighter;
    border-image: linear-gradient(90deg, $grey-lighter, #fff) 1;
}
.timeline-header.timeline-year {
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.timeline-item:nth-of-type(2n).timeline-month {
    border-bottom: 1px solid $grey-lighter;
    border-image: linear-gradient(270deg, $grey-lighter, #fff) 1;
}

.notification .edit-increment {
    position: absolute;
    right: 0.5rem;
    top: 28px;
}

