<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="tallyRows(recentlyCreatedList, user)" th:each="entry : ${recentlyCreatedList}" class="column is-half">
    <div th:replace="this :: tallyEntry(${entry}, ${user})"></div>
</div>

<div class="box is-radiusless" th:fragment="tallyEntry(tally, user)">
	<nav class="level">
        <div class="level-left">
            <div class="level-item">
                <strong class="truncate-text" th:title="${tally.name}" th:text="${tally.name}">Pizza Counter</strong>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Created</p>
                <p class="subtitle"><date-label th:text="${entry.creationDateUTC}">2019-09-09</date-label></p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Count</p>
                <p class="subtitle" th:text="${tally.totalCount}">90</p>
            </div>
        </div>
	    <div class="level-right">
            <div class="level-item">
                <div class="field is-grouped">
                    <p class="control"><a class="button is-light" th:href="@{/counter/{adminKey}(adminKey=${entry.publicKey})}">View</a></p>    
                    <p class="control"><a class="button is-primary" th:href="@{/counter/{adminKey}(adminKey=${entry.adminKey})}">Edit</a></p>
                    <p class="control"><a class="button is-danger confirmable" th:href="@{/counter/{adminKey}?action=delete(adminKey=${entry.adminKey})}">Delete</a></p>
                </div>
            </div>
	    </div>
	</nav>
    
    <div class="notification is-light is-paddingless">
    <p class="content is-size-7">
        Last Updated: <span th:text="${tally.lastModifiedInfo}"></span>
        </p>
    </div>
</div>
</html>