<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Tally</title>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script defer src="https://code.jquery.com/jquery-3.4.0.slim.min.js"></script>

    <link rel="stylesheet" href="../../../../target/classes/static/css/main.css"/>
    <link rel="shortcut icon" type="image/x-icon" href="@{/favicon.ico}"/>
</head>
<body>
    <div class="container">
        <nav th:replace="fragments/navigation :: navigation(${user})"></nav>
    </div>

    <section class="section">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-half has-text-centered ">
                    <h1 class="title is-spaced">
                        Count pizzas
                    </h1>
                    <p class="subtitle has-text-grey-light">
                        ... and more. View an <a th:href="@{/2SkVp8RP}">example</a> or <a href="#create-anchor">create</a> your own
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container ">
            <div class="columns is-centered">
                <div class="column has-text-centered is-4">
                    <div>
                        <canvas th:replace="fragments/graph :: graph(data=${exampleGraph}, showYAxis=false)"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section is-hidden-mobile has-background-white-bis">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-one-fifth" th:insert="frontpage/teaserTiles :: tile('fa-chart-line', 'Easily create counters and visualize their growth')"></div>
                <div class="column is-one-fifth" th:insert="frontpage/teaserTiles :: tile('fa-share', 'Share counters with your friends and colleagues')"></div>
                <div class="column is-one-fifth" th:insert="frontpage/teaserTiles :: tile('fa-sticky-note', 'Keep track of important metrics in your life')"></div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="columns is-centered">
    
                <div class="column is-one-third">
                    <div class="content">
                        <p class="subtitle">
                            Give your counter a short descriptive name (like Pizza Counter 2020).
                        </p>
                        <p th:if="!${user.loggedIn}" class="is-size-6"><strong>Hint:</strong> You can login later and assign the counter to your account if you want.</p>
                    </div>
                    <form method="post" th:action="@{/counter/_create}" >
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                <input id="create-anchor" class="input" name="name" type="text" placeholder="Name your counter" required>
                            </div>
                            <div class="control">
                                <input type="submit" class="button is-info" value="Create Counter">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="columns is-multiline" th:insert="frontpage/fragments :: tallyRows(${recentlyCreated}, ${user})">
            </div>
        </div>
    </section>
    
   <section class="section">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-one-fifth">
                    <div class="box is-radiusless">
                        <div class="content has-text-centered">
                            <strong th:text="${totalTallySheetCount}">10</strong> counters created already!
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>